@media only screen  and (max-width:320px) {

    header{
        margin: 0;
        height: 5vh;
        #logo{
            display: none;
        }
        .img{
            h1{
                display: inline;
                font-size: small;
                position: absolute;
                left: 5%;
                color:#d6d6d6;
            }
        }
        #menu{
            width: 11px;
            height: 11px;
            top: 1.5%;
            right: 5%;
        }

        nav{
            ul{
                position: absolute;
                right: 0%;
                display:flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                background-color: #fff;
                transform: translateX(100%);
                transition: transform .5s ease-in-out;
                
        
                li:hover{
                    background-color: #179BD7;
                }
                
                    a{
                        color: #12202F;
                        font-size: small;
                        
                    }
            } 
            #close{
                display: block;
                position: absolute;
                top: 3%;
                right: 5%;
                cursor: pointer;
            }
        }
    }

    .open-nav{

        ul{
            position: absolute;
            right: 0%;
            display:flex ;
            width: 50%;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            background-color: #fff;
            transform: translateX(0%);
            transition: transform .5s ease-in-out;
            
            li{
                font-size: small;
            }
        }
    
    }
section{
    .desktop-1{
        height: 30vh;

        .attention{
            background-size: cover;

            .content-banner{
                top:10%;

                h1{
                    font-size: medium;
                }
                h3{
                    font-size: small;
                    margin-bottom: 1rem;
                }
                a{
                    padding: .3rem;
                    font-size: 8px;
                
                }
            }
        }
    }
}
main{
    .main-content{
        
        h1{
            font-size: medium;
        }

        .description-1{
            display: flex;
            flex-direction: column;
            .content{
                width: 100%;
                img{
                    width: 80px;
                    height: 80px;
                }
                h2{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
        }
        .description-2{
            display: flex;
            flex-direction: column;
            .content{
                width: 100%;
                img{
                    width: 80px;
                    height: 80px;
                }
                h2{
                    font-size: small;
                }
                p{
                    font-size: smaller;
                }
            }
        }
    }
}
article{
    .appreciation{
        #top{
            h2{
                font-size: medium;
                text-align: center;
                margin-bottom: .5rem;
            }
            margin-bottom: none;
        }
        .compliments{
           
            #circle-1{
                top: 5%;
                left: 35%;
                height: 80px;
                width: 80px;
            }
            #circle-2{
                top: 51%;
                right: 35%;
                height: 80px;
                width: 80px;
            }
            .boxes-1{
                display: flex;
                flex-direction: column;

                .box-with{
                    margin-bottom: 2rem;
                    width: 100%;
                }
            }

        }
    }
}
.info{
    .inside{
        h1{
            font-size: medium;
        }
        p{
            font-size: smaller;
        }
        a{
            font-size: 8px;
            padding: .5rem;
        }
    }
}
footer{
    margin-top: 0;
    padding: 0;
    .content{
        width: 100%;
        margin: auto;
        display: flex;

        .first, .second{
            h2{
                display: none;
                
            }
            li{
                a{
                    font-size: 10px;    
                    line-height: 1.5;
                }
            }
        }
        
    }
}
}
